
<article class="@@articleclass">
    <div class="article__div">
        <img class="img" src="@@imgsrc" alt="@@name" />
    </div>
    <div class="div--text">
        <h3 class="name">@@name</h3>
        <p class="text">@@description</p>
        <ul class="social">
            <li class="dots">
                <a href="@@twitterurl" target="_blank"><i class="fa-brands fa-twitter icon"></i></a>
            </li>
            <li class="dots">
                <a href="@@linkedinurl" target="_blank"><i class="fa-brands fa-linkedin-in icon"></i></a>
            </li>
            <li class="dots">
                <a href="@@githuburl" target="_blank"><i class="fa-brands fa-github-alt icon"></i></a>
            </li>
            <li>
                <a href="mailto:@@email"><i class="fa-solid fa-envelope icon"></i></a>
            </li>
        </ul>
    </div>
</article>