<article class="f-d">
    <article class="strength">
        <h3 class="text-style-6">Fortalezas</h3>
        <p class="f-d-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            corrupti, accusantium amet laboriosam optio totam, dolorum
            suscipit impedit unde commodi ipsum non corporis consequuntur
            vitae porro ipsam, quo a sint.
        </p>
    </article>

    <article class="weakness">
        <h3 class="text-style-6">Debilidades</h3>
        <p class="f-d-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptates cumque earum possimus, ratione vero aspernatur
            exercitationem dolorem molestias est ipsa unde iure nobis
            laboriosam facere repellat animi quaerat quae repellendus?
        </p>
    </article>
</article>