<article class="team">
    <h2 class="text-style-5 team-tittle">Equipo</h2>
    <p class="text-team">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Distinctio, dicta officiis quidem ea repellendus facilis accusamus
        nesciunt omnis iste laborum soluta sunt culpa quaerat assumenda
        exercitationem cupiditate itaque architecto voluptatum. Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Repellendus
        consequuntur autem minima nostrum aliquam error in deserunt, unde
        debitis libero architecto quasi excepturi corporis. Asperiores ipsam
        quo iure eaque voluptatibus! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. A sapiente nisi alias dolor. Unde, tempora dicta
        maiores, illum distinctio consectetur, sequi id facilis ab neque
        nobis. Illum unde mollitia facilis?
    </p>
</article>