
/*fuentes*/

$text-title: 'Rubik', sans-serif;
$text-font: 'Open Sans', sans-serif;

/*Colores*/ 

$secondary-color: #14d9c4;
$primary-color: #099d8d;
$primary-text-color: #54585a;
$secondary-text-color: #b8b8b9;
$tertiary-color: white;

/*Colors for header*/
$primary-header: rgba(9, 157, 141, 0.7);
$secondary-header:  rgba(20, 217, 196,0.7); 
