.hero-contact {
    background-image: url("../images/contact-girl.png");
    max-width: 100vw;
    height: 28rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}