.hero-contact {
    background-image: url("../images/image.png");
    width: 100%;
    height: 300px;
    background-size:cover;
    background-position: center;
}


.main-article {

    @include tablet {
        margin-left: 0.938rem;
        margin-right: 0.938rem;
        padding: 1.8rem 8.5rem 0 8.5rem;
    }

    @include desktop {
        padding: 1.8rem 18.7rem 0 18.7rem;
    }
}

.main-title {
    margin-top: 2rem;
    text-align: center;
    font-family: $text-title;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    color: $primary-color;
    text-transform: uppercase;

    @include tablet {
        margin-top: 0;
    }

    @include desktop {
        margin-top: 1rem;
    }
}

.main-par {
    margin-top: 0.938rem;
    text-align: center;
    font-family: $text-font;
    font-size: 16px;
    line-height: 1.5;
    color: $primary-text-color;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.main-par-small {
    margin-top: 2rem;
    text-align: center;
    font-family: $text-font;
    font-size: 12px;
    color: $primary-text-color;
}

.main-par-asterisk {
    color: $secondary-color;
}

//PRUEB DIVS//

.section__form{
    box-sizing: border-box;
    margin-top: 3.6rem;
    margin-bottom: 3.75rem;
    @include desktop{
        margin-bottom: 8rem;
    }

}

.form__label {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
    justify-content: center;
    align-items: center;

    @include tablet {
    justify-content: center;
    align-items: center;
    
    }
}

.field{
    width: 16.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.81rem;
    padding-left: 1rem;
    height: 2.8rem;
    border: solid 1px $secondary-text-color;
    
    @include tablet{
        width: 27.6rem;    
    }
    @include desktop{
        width: 37.5rem;

    }

}

.textarea{
   height: 5.5rem; 
   padding-top: 0.5rem;
   font-family: $text-font;    
}  

.form__label--name{
    display: flex;
    flex-direction: column;
    
}

.form__label--text{
    font-size: 14px;
    color: $primary-text-color;
    font-family: $text-font;
}

.asterisk::after {
    content: "*";
    color: $secondary-color;
    margin-left: 0.2rem;
}

.form__label--mail {
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-grow: 1;

    }
}    
.form__elements--mail{
    @include desktop{
        width: 23.5rem;    
    }
}

.form__elements--tel{
    @include desktop {
        width: 10rem;
    }
}
    
.form__label--tel {
    display: flex;
    flex-direction: column;

}

.form__label--msg {
    display: flex;
    flex-direction: column;
}

.form__label--elements {
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2.8rem;
    }
}

.form__label--send{
    display: flex;
    justify-content: center;

    @include tablet{
        align-self: flex-end;
    }
    
    
}

.send__button{
    width: 18rem;
    height: 2.81rem;
    margin-top: 1.3rem;
    background-color: $primary-color;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family:$text-font;
    color: $tertiary-color;
    text-transform: uppercase;
    font-weight: 600;
    @include tablet{
        width: 12.8rem;
    }
    @include desktop{
        width: 17.4rem;
        width: 18.5rem;
        height: 2.9rem;
    }

}







/*

.section-form__label {
    color: $primary-text-color;
    font-family: $text-font;
    font-size: 14px;
    //line-height: 40px;
   // margin: 3.6rem 0.938rem 0.7rem 0.938rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*@include tablet {
        //padding: 8.5rem;
       // padding-top: 3.6rem;
       // padding-bottom: 3.75rem;
        //margin-top: 0rem;  
    }
    @include desktop{
       // padding: 0;
       // margin-top: 5.25rem;
        //margin-left: 18.75rem;
        //margin-right: 18.75rem;//
        
    }     
}

.section-form__label--asterisk::after{
    content: "*";
    color: $secondary-color;
    font-size: 14px;
    margin-left: 0.2rem;   
}

.field {
    padding:10px;
    font-family:$text-font;
    width: 16.6rem;

    /*@include tablet {
        width: 27.6rem;
    } */

    /*@include desktop {
        width: 36rem;
        border-style: solid;
    }
   
}    

.field::placeholder{
    color:$secondary-text-color;
}    



.section-form__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   /* @include desktop {
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        gap: 2.4rem;
    }


  /*  &--mail{
        @include desktop {
            //width: 24rem;
            
        }

    }
    &--tel{
        @include desktop {
            //width: 8rem;
            
        }
    }
    &--label{
        //@include desktop {
            
            
        }
        
    } 
    
}


.send {
    @include tablet {
        display: flex;
        justify-content: end;
        //margin-top: 1rem;//
        //margin-bottom: 7.5rem;//
    }

    @include desktop {

    }
}

.send__button {
    //margin-top: 1.875rem;//
    width:18rem;
    height: 2.813rem;
    color: $tertiary-color;
    text-transform: uppercase;
    font-family: $text-font;
    font-size: 16px;
    font-weight: 600;
    background-color: $primary-color;
    border-radius: 6px;
    border: none;
  /*  @include tablet{
        //width: 13rem;
    }
    @include desktop{
       // width: 17.375rem;
        
    } 
}
*/
