.footer{
  font-family: $text-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 0.1rem $secondary-text-color;
}

.title-footer{
  color: $secondary-text-color;
  padding-top: 50px;
  font-size: 15px;
  text-transform: uppercase;    
}

.links{
  margin-bottom: 27px;
  padding-top:15px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase; 
  line-height: 1.43;     
}
.links li{
  padding: 3px;
  text-align: center;    
}
.links li a{
  text-decoration: none;
  color: $primary-text-color;
}
.logo-adalab{
  width:116px;
  margin-bottom: 37px;
}
