.hero {
    background-image: url("../images/backgrounds.jpg");
    max-width: 100vw;
    height: 28rem;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}
.hero__div{
    @include tablet {
        opacity: 0.7;
    }
}
.slogan {
    font-family: $text-font;
    background-color: $tertiary-color;
    margin: 0 1rem 0 1rem;
    text-align: center;
    padding: 1.6rem;
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.39;
    @include tablet{
        margin: 0 17rem 0 4.7rem;        
    }
}