/*@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'pages/index'; */
@import 'core/variables';
@import 'core/reset';
@import 'core/mixin';
@import 'layout/header';
@import 'layout/hero';
@import 'pages/contact';
@import 'layout/team';
@import 'layout/skills';
@import 'layout/members';
@import 'layout/footer';

/*EMPIEZA AQUÍ*/

:root {
    --type-r: 'Rubik', sans-serif;
    --type-os: 'Open Sans', sans-serif;
    --color-b: #14d9c4;
    --color-gb: #099d8d;
    --color-grey: #54585a;
    --color-blondgrey: #b8b8b9;
    --color-w: white;
}





