
.header {
    text-align: center;
    background-color:#099d8d;
    color: white;
}
.lista-navegador {
    display: flex;
    justify-content:space-around;
    background-color: #14d9c4;    
}
.lista-navegador a {
    text-decoration: none;
    color: white;
}
.text-style-5 {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #14d9c4
}
.imagen-hero {
    width:100%;
}
.lema {
    background-color: white;
    position: relative;
    z-index: 1;
    bottom: 30px;
    margin: 0 0.625rem 0 0.625rem;
}
.equipo {
    padding: 0.65rem;
    text-align: center;
}
.text-style-6 {
    font-family: Rubik;  
    font-size: 1.375rem;  
    font-weight: 500;  
    font-stretch: normal;  
    font-style: normal;  
    line-height: 2.05;  
    letter-spacing: normal;  
    text-align: center;  
    color: #099d8d  
}
.cuadradito {
    width: 1.875rem;
    height: 1.875rem;
    background-color: white;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}
.f-d {
    background-color: #b8b8b9;
    padding: 0.65rem;
    text-align: center;
}

.who-title-father {
    text-align: center;
}

.who-title {
    width: 320px;
    padding-top: 20px;
    background-color: white;
    color: #099d8d;
    font-weight: bold;
    text-align: center;
}
.article {
    width: 290px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 180px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08) ;

}

.name {
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text {
    text-align: center;
}

.social {
    padding-top: 10px;
    display: flex;
    gap: 8px;
    justify-content:space-around;
    color: #099d8d;
}

.icon {
    color: #099d8d;
}

.footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-footer{
    color:#b8b8b9;
    padding-top: 50px;
    font-size: 15px;
    
}

.links{

    padding-top:10px;
}

.links li{
    padding: 3px;
    text-align: center;
}


.logo-adalab{

    width:116px;

}